[Unit]
Description=Script Runner which runs scripts on Startup
ConditionPathIsDirectory=/var/lib/scripts

[Service]
Type=oneshot
ExecStart=/usr/local/bin/script-runner.sh /var/lib/scripts /var/lib/local/scripts

[Install]
WantedBy=multi-user.target

